<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>me.yapzap.api.v1.filters.SecurityFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<servlet-name>api-servlet</servlet-name>
	</filter-mapping>


	<listener>
		<listener-class>me.yapzap.api.admin.MetricServletContextListener</listener-class>
	</listener>

	<listener>
		<listener-class>me.yapzap.api.admin.HealthChechServletContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>api-servlet-v2</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/spring-config-v2.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>api-servlet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/spring-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CodahaleMetrics</servlet-name>
		<servlet-class>com.codahale.metrics.servlets.AdminServlet</servlet-class>
		<init-param>
			<param-name>metrics-uri</param-name>
			<param-value>/metrics</param-value>
		</init-param>
		<init-param>
			<param-name>ping-uri</param-name>
			<param-value>/ping</param-value>
		</init-param>
		<init-param>
			<param-name>healthcheck-uri</param-name>
			<param-value>/health</param-value>
		</init-param>
		<init-param>
			<param-name>threads-uri</param-name>
			<param-value>/threads</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>admin-servlet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/admin-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>admin-servlet</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>api-servlet-v2</servlet-name>
		<url-pattern>/v2/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>api-servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CodahaleMetrics</servlet-name>
		<url-pattern>/CodahaleMetrics/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/security-context.xml</param-value>
	</context-param>

	<listener>
		<description>The Spring context listener.</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>
