<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>me.yapzap.api.v1.filters.SecurityFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<servlet-name>api-servlet</servlet-name>
	</filter-mapping>


	<servlet>
		<servlet-name>api-servlet-v2</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/spring-config-v2.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>api-servlet</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/spring-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>api-servlet-v2</servlet-name>
		<url-pattern>/v2/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>api-servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
</web-app>
