extends layout

block content
    .main
        h2 YapZap
        .zeus
        | <audio autoplay="autoplay" controls>
        |    <source src="#{src}" type="audio/mp4"> Your browser does not support the audio element.
        | </audio>
        br
        br
        a(href='/app') Download Now